.App {
  text-align: left;
  overflow: hidden;
}

.App-panel-header {
  font-size: 2.5vh;
  color: white;
}

.App-header-pages {
  text-decoration: none;
  color: white;
}

.App-panel-body {
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.App-panel-body-main {
  text-align: center;
  float: left;
  padding: 50px;
  padding-top: 35px;
  width: 100%;
  height: 100%;
}

.Header {
  padding-bottom: 10px;
  float: left;
  font-size: calc(1em + 3.5vh);
  text-align: left;
  width: 100%;
}

.Header-text {
  vertical-align: sub;
}

.Add-button {
  float: right;
}

.CellLink {
  color: darkBlue;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.CellLink:hover {
  color: blue;
  text-decoration: underline;
}

.Table-container {
  overflow-y: auto;
  width: 100%;
  height: calc(90vh - 200px);
}

::-webkit-scrollbar {
  width: 0px;
}
